extends ../templates/layout

block content 
  form(method="POST")
    if notChangeErrorMessage 
      span=notChangeErrorMessage
    input(placeholder="Old Password", type="password", name="oldPassword")
    input(placeholder="New Password", type="password", name="newPassword")
    if notConfirmErrorMessage 
      span=notConfirmErrorMessage
    input(placeholder="New Password Confirmation", type="password", name="newPasswordConfirmation")
    input(value="Change Password", type="submit")